<title>Welcome to Festival DApp</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body class="container">
  <h1 align="center">Enter Your Address To Continue</h1>
  <div align="center" style="margin-top: 10px">
  	<input id="userAddress" type="text" name="userAddress" value="Address" required ><br>
  	<input id="loginPassword" type="text" name="LoginPassword" value="Password" required ><br>
    <input id="redirectToUserInfo" style="margin-top: 10px" type="button" onclick="window.location='http://localhost:8080/mainInfo/'+document.getElementById('userAddress').value + '/'+document.getElementById('loginPassword').value" value="Login"><br>

    <input id="userPassword" type="text" name="userPassword" value="Password" required style="margin-top: 30px"><br>
    <input id="registerUser" style="margin-top: 10px" type="button" onclick="window.location='http://localhost:8080/registerUser/'+document.getElementById('userPassword').value" value="Register">
  </div>
</body>